@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP&family=Yomogi&display=swap');

h1, thead {
    font-family: 'Dela Gothic One', cursive;
}

* {
    font-family: 'Noto Sans JP', sans-serif;
}

tr td:last-child {
    font-family: 'Yomogi', cursive;
}

.required::after {
    content: " *";
    color: red;
    vertical-align: middle;
}

tr th:first-child, tr td:first-child {
    color: red;
}

.single-line {
  white-space: nowrap; /* テキストを1行に制限 */
}

